<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/mainpage.css">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.js"></script>
    <title>Online Music recommendation APP</title>
</head>
<body>
    <div class="bg"></div>
    <div class="ui container">
        <div class="ui large inverted fixed  menu">
            <a href="/album" class="active item">
                <i class="icon home"></i>
            </a>
            <div class="right item">
            <a class="ui inverted basic button" href="/login">Log in</a>
            <a class="ui inverted basic button" href="/signup">Sign Up</a>
            </div>
        </div>
    </div>
    <div class="top-gutter"></div> <!-- used to create gutter from top -->
    

   
    <div class="ui inverted vertical masthead center aligned segment" id="main-banner">

        <div class="ui text container" id="main-stage">
            <h1 class="ui inverted header">
                Imagine-a-Company
            </h1>
            <h2>Do whatever you want when you want to.</h2>
            <div class="down-page"><i class="huge angle down icon"></i></div>
        </div>

    </div>


    
    <div class="ui vertical stripe segment">
        <div class="ui  container">
            <div class="ui stackable grid">
                <div class="ui row">
                    <div class="column">
                        <div class="ui search">
                            <div class="ui left icon input">
                                <input class="prompt" type="text" placeholder="Search Track Album or Artist" autocomplete="off">
                                <i class="play icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                </div>
                <div class="ui row">
                    <div class="four wide column">
                        <h4 class="ui top attached block header">
                                Top 10 Track : Scroll down
                        </h4>
                        <div class="ui attached segment topten">
                            
                            <div class="ui divided items">
                                <% tracks.forEach(function(singleTrack){ %>
                                    <div class="item">
                                        <div class="content">
                                            <a class="header" href="/track/<%= singleTrack["id"]%>"><%= singleTrack["name"] %></a>
                                            <div class="meta">
                                                <span class="art-name"><%= singleTrack["artists"][0]["name"] %></span>
                                            </div>
                                            <div class="description">
                                                <p>Popularity: <%= singleTrack["popularity"] %></p>
                                            </div>
                                            <div class="extra">
                                                <div class="ui label"><%= singleTrack["type"] %></div>
                                                <div class="ui label"><i class="globe icon"></i><%= singleTrack["album"] %></div>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>      
                            </div>
                        </div>
                    </div>
                    <div class="eight wide right floated column">
                        <div class="ui fluid people shape">
                            <div class="sides">
                                <!-- 1st side -->
                               
                                <div class="active side">
                                    
                                    <div class="ui image dimmable">
                                        <div class="ui blurring dimmer">
                                            <div class="content">
                                                <div class="center">
                                                <p class="ui text"></p>
                                                <a href="" class="ui yellow basic button">View More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img class="ui image" src="../source/toptenalbum.jpg">
                                    </div>


                                </div>
                                <!-- 2st side -->
                                <% tracks.forEach(function(singleTrack){ %>
                                <div class="side">
                                    <div class="ui image dimmable">
                                        <div class="ui blurring dimmer">
                                            <div class="content">
                                                <div class="center">
                                                <p class="ui text"></p>
                                                <a href="/album/<%= singleTrack["album"]["id"]%>" class="ui yellow basic button">View More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img class="ui image" src="<%=singleTrack["album"]["images"][0]["url"]%>">
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
<script src='/js/main-page.js'></script>

<% include partials/footer %>