<% include partials/header %>
<div class="ui main container segment">
    <div class="ui huge header">Edit song: <%= song.title %></div>
    <form class="ui form" action="/songs/<%= song._id %>?_method=PUT" method="POST">  <!--form do not surpport PUT/DELETE/UPDATE -->
        <div class="two fields">
            <div class="field">
                <label>Titile</label>
                <input type="text" name="song[title]" value="<%= song.title %>"></input>
            </div>
            <div class="field">
                <label>Singer</label>
                <input type="text" name="song[singer]" value="<%= song.singer %>">
            </div>
        </div>
        <!--<div class="field">-->
        <!--    <label for="song[singer]">Singer</label>-->
        <!--    <input type="text" name="song[singer]" value="<%= song.singer %>"></input>-->
        <!--</div>-->
        <div class="field">
            <label for="song[cover]">Cover</label>
            <input type="text" name="song[cover]" value="<%= song.cover %>"></input>
        </div>
        <div class="field">
            <label for="song[source]">Source</label>
            <input type="text" name="song[source]" value="<%= song.source %>"></input>
        </div>
        <div class="field">
            <label for="song[description]">Desciption</label>
            <input type="text" name="song[description]" value="<%= song.description %>"></input>
        </div>
        <div class="field">
            <label for="song[comment]">Comment</label>
            <textarea name="song[comment]" value="<%= song.comment %>"></textarea>
        </div>
        <input class="ui inverted violet button" type="submit">
    </form>
</div>
<% include partials/footer %>