<% include ../partials/header %>
<div class="ui container seg-wrapper">
  <div class="ui stackable grid single-album-info" style="margin-top:3em">
      <div class="four wide column">
        <div class="ui fluid grid">
          <div class="column">
              <div class="row">
                <img class="ui fluid circular image" id="signle-album-rota" src="<%= album["images"][1]["url"] %>" >
              </div>
              <div class="center aligned row">
                <% if((album["artists"]).length) { %>
                  <h3 class="ui header inverted">Artists</h3>
                    <% (album["artists"]).forEach(function(singer){ %>
                      <h5><a class="ui header yellow" href="/artist/<%= singer["id"] %>"><%= singer["name"] %></a></h4> 
                    <% }); %>
                  </div>
                <%}%>
          </div>
        </div>
      </div>
      <div class="twelve wide column">
        <div class="grid">
          <div class="column">
            <h3 class="ui top attached header inverted"><%= album['name']%></h3>
            <div class="ui inverted  attached segment">
              <div class="ui inverted relaxed divided list">
                <% if ((album["tracks"]["items"]).length) { %>
                  <% album["tracks"]["items"].forEach(function(track){ %> 
                    <div class="item">
                      <div class="content">
                        <div class="header left floated"><%= track["name"] %></div> <a href="#"><i data-id="<%= track["id"] %>" class="right floated icon play"></i></a>
                      </div>
                    </div>
                  <% }); %>
                <% } %>
              </div>
            
            
            
            </div>
            
          </div>
        </div>
      </div>
     
   
  </div>
</div>
<% include ../partials/footer %>
