<% include partials/header %>
<div class="banner-wrapper">
  <video autoplay loop id="index-banner" class="ui fluid container">
    <source src="/source/fullpage-index.mp4" type="video/mp4" />
  </video>
</div>
   <div id="main-wrapper" class=" ui container">
    <div class="ui three column stackable  grid">

      <% songs.forEach(function(song){ %>
      
        <div class="column">
          <div class="ui fluid card">
            <div class="ui dim image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <p class="ui text"><%= song["description"].substring(0, 100)%>...</p>

                    <a href="/songs/<%= song._id %>" class="ui yellow basic button">View More</a>
                  </div>
                </div>
              </div>
              <a href="/songs/<%= song._id %>" class="father">
                <figure style="background-image:url(<%= song["cover"] %>)"></figure> <!-- cover image -->
              </a>
            </div>
           
            <div class="content center aligned">
              <p class="header"><%= song["title"] %></p>  <!-- Song Title -->
              <div class="meta">
                <span class="date"><%= song.created.toDateString() %></span>  <!-- Added Date -->
              </div>
              <div class="description">
                <p><i class="icon unmute"></i><%= song["singer"] %>...</p>   <!-- Spliced Description -->
              </div>
            </div>
            <div class="extra center aligned content">
              <!--<div class="ui small basic icon buttons">-->
              <!--  <a class="ui button center" href="/songs/<%= song._id %>"><i class="unhide icon"></i></a>-->
              <!--  <a class="ui button" href="<%= song.source %>"><i class="video play icon"></i></a>-->
              <!--  <button class="ui button"><i class="thumbs outline up icon"></i></button>-->
              <!--  <button class="ui button"><i class="thumbs outline down icon"></i></button>-->
              <!--</div>-->
              
              <!--<div class="ui labeled right button" tabindex="0">-->
              <!--        <div class="ui red button">-->
              <!--          <i class="heart icon"></i> Like-->
              <!--        </div>-->
              <!--        <a class="ui basic red left pointing label">-->
              <!--          1,048-->
              <!--        </a>-->
              <!--</div>-->
              <div class="ui two bottom attached buttons">
                <div class="ui button">
                  <i class="heart red icon"></i>
                  Queue
                </div>
                <div class="ui basic blue button">
                  <i class="play icon"></i>
                  Watch
                </div>
              </div>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
<% include partials/footer %>