<% include partials/header %>
<div class="ui main container segment large">
    <div class="ui items">
        <div class=" item">
            <a class="ui small image">
              <img class="ui img rounded" src="<%=albumlist.cover %>">
            </a>
            <div class="content">
                <a class="header" href="tracks/<%= track._id %>"><%= track %></a>
                  <span><%= track.created.toDateString() %></span>
                <div class="description">
                    <p><%= track.description %></p>
                </div>
                
                <a class="ui primary button" href="/track/<%= track._id %>/edit">EDIT</a>
                <form id="delete" action="/track/<%= track._id %>?_method=DELETE" method="POST">
                    <button class="ui negative button">Delete</button>
                </form>
            </div>
        </div>
    </div>
    
    
    
    
    <!--<div class="ui top attached">-->
    <!--    <div class="item">-->
    <!--        <img class="ui left rounded image" src="<%=song.cover %>"></img>-->
    <!--        <div class="content">-->
    <!--            <span><%= song.created.toDateString() %></span>-->
    <!--            <div class="description">-->
    <!--                <p><%= song.description %></p>-->
    <!--            </div>-->
    <!--            <div class="comment">-->
    <!--                 <p><%= song.comment %></p>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
   
    
</div>
<% include partials/footer %>