<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/single-album.css">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.js"></script>
    <title>Online Music recommendation APP</title>
</head>
<body>
    <div class="bg"></div>
    <div class="ui container">
        <div class="ui large inverted fixed  menu">
            <a href="/album" class="active item">
                <i class="icon home"></i>
            </a>
            <div class="right item">
            <a class="ui inverted basic button" href="/login">Log in</a>
            <a class="ui inverted basic button" href="/signup">Sign Up</a>
            </div>
        </div>
    </div>
    <div class="top-gutter"> </div> <!-- used to create gutter from top -->
    <div class="ui container seg-wrapper">
      <div class="ui stackable grid single-album-info" style="margin-top:3em">
          <div class="four wide column">
            <div class="ui fluid grid">
              <div class="column">
                  <div class="row">
                    <img class="ui fluid circular image" id="signle-album-rota" src="<%= album["images"][1]["url"] %>" >
                  </div>
                  <div class="center aligned row">
                    <% if((album["artists"]).length) { %>
                      <h3 class="ui header inverted">Artists</h3>
                        <% (album["artists"]).forEach(function(singer){ %>
                          <h5><a class="ui header yellow" href="/artist/<%= singer["id"] %>"><%= singer["name"] %></a></h4> 
                        <% }); %>
                      </div>
                    <%}%>
              </div>
            </div>
          </div>
          <div class="twelve wide column">
            <div class="grid">
              <div class="column">
                <h3 class="ui top attached header inverted"><%= album['name']%></h3>
                <div class="ui inverted  attached segment playlist">
                  <div class="ui inverted relaxed divided list">
                    <% if ((album["tracks"]["items"]).length) { %>
                      <% album["tracks"]["items"].forEach(function(track,index){ %> 
                        <div class="item">
                          <div class="content play-list-line">
                            <div class="header left floated"><%= track["name"] %></div> 
                            
                            <a href="#"><i data-index=<%=index%> data-id="<%= track["id"]%>" class="right floated icon play track-name"></i></a>
                          </div>
                        </div>
                      <% }); %>
                    <% } %>
                  </div>
                
                
                
                </div>
                
              </div>
            </div>
          </div>
        
      
      </div>
    </div>
<script src="/js/single-album.js"></script>
<% include ../partials/footer %>
